.contact {
    background-color: var(--color-light);
    height: 100vh;
    display: grid;
    padding: 32px;
    color: var(--color-light);

    &__inner {
        background-color: #000; // TEMP
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    &__main {
        background-color: coral; //temp
        grid-column: 1 / 2;
    }

    &__social {
        background-color: burlywood; //temp
        grid-column: 2 / 3;
    }
}