.contact {
    background-color: var(--color-light);
    height: 100vh;
    display: grid;
    padding: 32px;
    color: var(--color-light);

    &__inner {
        position: relative;
        background-color: var(--color-dark);
        background-image: url(../../../assets/images/contact-backgroundimage.jpg);
        background-size: cover;
        background-position: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    &__overlay {
        position: absolute;
        display: block;
        min-width: 100%;
        min-height: 100%;
        margin: 0;
        padding: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(34, 34, 34, 0.349);
    }

    &__main {
        // background-color: coral; //temp
        grid-column: 1 / 2;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    &__social {
        // background-color: burlywood; //temp
        grid-column: 2 / 3;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    &__qr {
        width: 90px;
        height: 90px;
    }
}